<!DOCTYPE html>
    <html>
    <head>
        <title>Lifx Settings</title>
        <link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Lifx Settings</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
          </nav>

        <div class = "container">
            <h1>Settings</h1>
            <div class="form-group">
              <label for="sel1">Event:</label>
              <select class="form-control" id="sel1">
                <option value = "on">On</option>
                <option value = "off">Off</option>
              </select>

              <label for="sel2">Action:</label>
              <select class="form-control" id="sel2">
                <option value = "on">On</option>
                <option value = "off">Off</option>
                <option value = "red">Color: Red</option>
                <option value = "blue">Color: Blue</option>
                <option value = "green">Color: Green</option>
              </select>

              <label for="sel2">Communication Type:</label>
                </br>
                <form name = "ctype">
                  <input type="radio" name="comm_type" value="forward"> Forward<br>
                  <input type="radio" name="comm_type" value="device"> Device<br>
                </form>
              </br>
			  
			  <textarea id = "command_num"></textarea>
        <h3>Forward IP</h3>
        <textarea id = "forward_ip"></textarea>
			  
			  </br>

              <button class="btn btn-default" onclick="add_setting()">Submit</button>
            </div>
        </div>

        <div class = "container">
          <h3>Current Settings</h3>
          <table id="tbl" width="320" border="1"><td>No Settings Set</td></table>
        </div>

        <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
    </html>